<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.899654800134-p2b7g759drtt306j5ksmnjl87tfth09b</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>899654800134-p2b7g759drtt306j5ksmnjl87tfth09b.apps.googleusercontent.com</string>
	<key>NSCalendarsUsageDescription</key>
	<string>fitPick needs access to your calendar to suggest outfits for upcoming events.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>fitPick may access media features for a richer experience (optional).</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>fitPick uses your location to show local temperature and better outfit suggestions.</string>
</dict>
</plist>
